*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Gilroy";
    src: url(Gilroy-Bold.ttf);
}
:root{
    --black:#333;
    --black2:#333;
    --White:#fff;
    --White2:#fff;

}
.dark{
    --black:#fff;
    --black2:#444;
    --White:#333;
    --White2:#444;
}
body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: var(--White);
}
#wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #111;
    z-index: 90000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    animation: anim2 2s cubic-bezier(0.19, 1, 0.22, 1) 3s  both;
}
@keyframes anim2{
    to{
        transform: translateY(-100%);
    }
}
#wrapper>h2{
    position: relative;
    font-size: 6em;
    color: #222;
}
#wrapper>h2::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 3s linear infinite;
    filter: drop-shadow(0 0 20px #fff);
    filter: drop-shadow(0 0 50px #fff);
}
@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    40%,90%{
        width: 100%;
    }
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.05);
    background: calc(--white2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}
.navigation.active{
    width: 0;
}
.dark.navigation{
    border-right: 1px solid rgba(0,0,0,0.5);
}
.navigation ul{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
    white-space: normal;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.5;
}
.navigation ul li a:hover{
    opacity: 1;
}
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    background: var(--white2);

    min-height: 100vh;
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 0px);
    left: 0px;
}
.topbar{
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    left: 300px;
    background: var(--white2);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
}

.main .topbar.active{
    width: calc(100% - 0px);
    left: 0px;
}
.topbar .logo{
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.topbar .logo .toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--black);
}
section{
    position: relative;
    min-height: 100vh;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.banner .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner .imgbx{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}
.imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h3{
    position: relative;
    font-size: 1.1em;
    color: var(--black);
    letter-spacing: 2px;
    text-transform: uppercase;
}
p{
    color: #777;
}
.dark p{
    color: #fff;
}
.dark .fa{
    color: #fff;
}
.btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: var(--black2);
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    text-decoration: none;
}
.dark .btn:hover{
    background: #2196f3;
}
.socialmedia{
    position: absolute;
    bottom: 20px;
    display: flex;
}
.socialmedia li{
    list-style: none;
}
.socialmedia li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.05);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-weight: 1.2em;
}
.dark .socialmedia li a:hover{
    background: #2196f3;
}
.socialmedia li a:hover{
    background: var(--black2);
    color: #fff;
}
.adjust{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0 40px;
    padding-top: 80px;
    background: var(--white);
    color: var(--black);
    display: inline-block;
}
.title{
    width: 100%;
    text-align: center;
}
.title h2{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.title h2::before{
    content: '';
    position: absolute;
    left: 47.5%;
    transform: translateY(-50%);
    bottom: -5px;
    width: 50px;
    height: 1px;
    background: var(--black);
}
.about .content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.about .content .textbox{
    width: 49%;
    height: 49%;
}
.about .content .imgbx1{
    margin-left: 40px;
}
.about .content .imgbx img{
    max-width: 100%;
}
/* .servicebox img{
    width: 20%;
} */
.services .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}
.services .content .servicebox{
    border: 1px solid rgba(0,0,0,0.05);
    padding: 50px 20px;
    display: flex;
    background: var(--White2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services .content .servicebox img{
    max-width: 50px;
}
.dark .services .content .servicebox img{
    filter: invert(1);
}
.dark .services .content .servicebox:hover{
    background: #2196f3;
}
.services .content .servicebox h2{
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--black);
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.services .content .servicebox p{
    text-align: center;
}
.project .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}
.project .content .workbx{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.project .content .workbx .imgbx{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
}
.project .content .workbx:hover .imgbx{
    transform: translateY(-100%);
}
.project .content .workbx .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .content .workbx .textbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.5s ease-in-out;
}
.dark .project .content .workbx .textbx{
    background: #444;
}
.project .content .workbx:hover .textbx{
    transform: translateY(0);
}
.project .content .workbx .textbx h3{
    color: #fff;
}
.contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.contact .contactform{
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}
.contact .contactform .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin-top: 20px;
}
.contact .contactform .row2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.contact .contactform .row input,
.contact .contactform .row2 textarea{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: var(--black);
    background: var(--white2);
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.1);
}
.contact .contactform .row2 textarea{
    resize: none;
    height: 200px;
}
.contact .contactform .row2 input[type = "submit"]{
    background: var(--black2);
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    max-width: 150px;
    border: none;
}
.copyright{
    position: relative;
    bottom: 0;
    padding: 10px 40px;
    text-align: center;
}
.themeswitch{
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 30px;
    height: 30px;
    background: var(--black);
    color: var(--White);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.themeswitch::before{
    content: '\f186';
    font-family: "fontAwesome";
}
.themeswitch::after{
    content: 'Switch To Dark Mode';
    position: absolute;
    left: 40px;
    font-size: 0.7em;
    color: var(--black);
    white-space: nowrap;
    font-weight: 300;
    letter-spacing: 1px;
    pointer-events: none;
}
.dark .themeswitch::before{
    content: '\f185';
    font-family: "fontAwesome";
}
.dark .themeswitch::after{
    content: 'Switch To Light Mode';
    
}
/*****************************************************Responsivepart**************************************/


@media(max-Width:992px)
{
    .themeswitch{
        left: 20px;
    }
    .navigation{
        left: -100%;
    }
    .navigation.active{
        left: 0;
        width: 100%;
        font-size: 58px;
        line-height: 88px;
        margin-left: 30%x;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 100%;
    }
    .main .topbar{
        width: 100%;
        left: 0;
        padding: 0 20px;
    }
    .navigation ul{
        padding: 20px 20px;
    }
    .banner .imgbx{
        width: 250px;
        height: 250px;
    }
    .banner h3,
    .bannerp{
        text-align: center;
    }
    .adjust{
        padding: 0 20px;
        padding-top: 80px;
    }
    .about .content{
        flex-direction: column;
    }
    .about .content .textbox{
        width: 100%;
        min-width: 100%;
    }
    .about .content .imgbx1{
        margin-left: 30;
        margin-top: 30px;
    }
    .services .content{
        grid-template-columns: repeat(2,1fr);
    }
    .project .contact{
        grid-template-columns: repeat(2,1fr);
    }



}
@media(max-width:767px)
{
    .services .content{
        grid-template-columns: repeat(1,1fr);
    }
    .project .content{
        grid-template-columns: repeat(1,1fr);
    }
    .contact .contactform .row{
        grid-template-columns: repeat(1,1fr);
    }
    .contact{
        margin-bottom: 100px;
    }
    .copyright{
        padding: 10px 20px;
    }
}
